<form>
  <fieldset>
    <legend>Añadir cliente</legend>
    <div class="form-group">
      DNI: <input [(ngModel)]="dni" type="text" name="dni" id="dni">
      <hr/>
      Nombre: <input [(ngModel)]="nombre" type="text">
      <hr/>
      Direccion: <input [(ngModel)]="direccion" type="text" name="direccion" id="direccion">
      <hr/>
      Edad: <input [(ngModel)]="edad" type="number" name="edad" id="edad">
    </div>
   
    <fieldset class="form-group">
      Residente:
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="residente" type="radio" class="form-check-input" name="residente" id="residente" value="true" checked="">
          Sí
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="residente" id="residente" value="false" (click)="noresidente()">
          No
        </label>
      </div>
    </fieldset>
  </fieldset>
</form>

 <button class="btn btn-success" (click)="reg()">Añadir</button>
